.questionIcon{
  position: absolute;
  margin-top: -48px !important;
  transform: translate(-50%);
}
.whatsappIcon{
  float: right;
  position: fixed;
  top: 315px;
  right: 5px;
}
.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-toggler-icon {
  background-color: #fff; 
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-color: #fff;
}
.custom-navbar {
  flex-direction: row-reverse; 
}
.dropdown-menu {
  min-width: 5.33rem !important;
 
}